In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
dataframe = pd.read_csv('rockyou.txt',
                        delimiter = "\t", 
                        header = None, 
                        names = ["Passwords"],
                        encoding = "ISO-8859-1")

In [22]:
dataframe

              Passwords
0                123456
1                 12345
2             123456789
3              password
4              iloveyou
...                 ...
14344092       xCvBnM,
14344093         ie168
14344094     abygurl69
14344095        a6_123
14344096  *7Â¡Vamos!

[14344097 rows x 1 columns]

In [26]:
dataframe[~dataframe['Passwords'].isin([' '])]

              Passwords
0                123456
1                 12345
2             123456789
3              password
4              iloveyou
...                 ...
14344092       xCvBnM,
14344093         ie168
14344094     abygurl69
14344095        a6_123
14344096  *7Â¡Vamos!

[14344097 rows x 1 columns]

In [31]:
dataframe.iloc[-1].str.split('')

Passwords    [, , *, , 7, Â, ¡, V, a, m, o, s, !, , ]
Name: 14344096, dtype: object